/*format.css contains the basic formatting that is similar for all
 pages. Change the font in page sections for all pages here.
 Section and page sizing is also changed from here.*/
#header {
	min-width: 100%;
	background: blue;
	background: linear-gradient(to bottom right, #0099cc, #b3ecff)
}

#header object {
	width: 100%;
	margin: 0px;
	padding: 0px 0px;
	padding-top: 10px;
}

body {
	background: white;
	display: inline-block;
	width: 100%;
	margin: 0px;
	font-family: Tahoma, Geneva, sans-serif;
}
#menu {
	display: inline-block;
}
#menu p{
	display: inline-block;
	padding-left: 10px;
	padding-right: 0px;
}
#menu a{
	display: inline-block;
	padding-left: 10px;
	padding-right: 0px;
}

#backing {
	width: 1024px;
	box-shadow: 0px 0px 5px #888888;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#wrapper {
	width: 1024px;
	margin: 0 auto;
	box-shadow: 0px 2px 5px #888888;
}

#content {
	width: 100%;
	min-height: 600px;
	text-align: center;
}

/* Results Page */
div.result {
	border:2px solid #0099cc;
	margin: 10px;
	height: 100px;
}

div.result h1{
	background-color: #0099cc;
	font-size: 20px;
	color: white;
	text-align: left;
	margin-top:0px;
}

div.result img{
	float:left;
	display: inline-block;
	margin-left:20px;
	max-width:250px;
	height:150px; 
	border:2px solid black;
}

div.result p{
	margin-left:20px;
	font-size:15px;
	text-align:left;
}
/*Item detail page */
#item {
	width: 660px;
	float: right;
	display: inline-block;
}
#item img{
	max-width:350px;
	height:200px; 
	border:2px solid black;
}
#item a{
	float: left;
	display: inline-block;
}
/* sidebox contains rating*/
#sidebox {
	width: 20%;
	height:200px;
	padding-left: 20px;
	float: left;
	display: inline-block;
	text-indent:5px;
}

#sidebox h1 {
	font-size:20pt;	
	text-align:left;

}

#sidebox h2 {
	font-size:30pt;

}

#info {
	width: 660px;
	height: auto;
	margin: 10px;
	display: inline-block;
	float: right;
	text-align:left;	
}

#clearboxright {
    clear: right;
}
#clearboxleft {
    clear: right;
}

#info h1{
	font-size:20pt;
}

#info p {
	font-size:12pt;
}


#mapid {
	height: 400px;
	width: 600px;
}
#mapid2 {
	height: 400px;
	width: 600px;
	margin: auto;
}

/* Reviews */
#review {
	width: 100%;
	text-align: right;
}

.ind_review {
	border:2px solid #0099cc;
	margin: 10px;
	height: auto;
	width: 660px;
	display: inline-block;
}

div.ind_review h1 {
	font-size:17pt;
	background-color: #0099cc;
	color: white;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top:0px;
	text-align:left !important;
}

div.ind_review p {
	font-size:12pt;
	text-align:left !important;
	text-indent:15px;
}

#footer {
	width: 100%;
	color: #bfbfbf;
	text-align: center;
	font-size: 12px;
	min-height: 50px;
}