/* css file for the form styling in the site. */

/* common input styling cInput div for site forms*/
div.cInput button {
	background-color: #008CBA;
	border: none;
	display: inline-block;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
	margin-top: 10px;
    text-align: center;
    font-size: 18px;
	cursor: pointer;
	border: 2px solid #008CBA;
}
div.cInput {
	margin: 0 auto;
	text-align: center;
}
div.cInput form {
	display: inline;
}

div.column {
	display: inline;
	width: 220px;
}

div.cInput button:hover {
	background-color: white;
	color: #008CBA;
	border: 2px solid #008CBA;
}

div.cInput select {
	padding: 5px 0;
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	min-width: 220px;
	border-radius: 4px;
	font-size: 14px;
}

div.cInput fieldset{
	display: inline;
	border-color: #bfbfbf;
}

div.error {
	background-color: #ff6f6f;
	border: none;
    border-radius: 4px;
    color: white;
	margin-top: 10px;
	padding: 8px 10px;
    text-align: left;
    font-size: 12px;
}

div.confirm {
	background-color: #00cc66;
	border: none;
    border-radius: 4px;
    color: white;
	margin-top: 10px;
	padding: 8px 10px;
    text-align: left;
    font-size: 12px;
}

div.cInput h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/* text names for the boxes which sit above left */
div.column .boxNames {
	text-align: left;
	width: 220px;
}

div.cInput p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	display: inline-block;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 6px;
	margin-bottom: 0px;
}

#radButtons {
	padding: 5px 0;
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	min-width: 220px;
	border-radius: 4px;
	font-size: 14px;
}

div.lButton {
	min-width: 220px;
	text-align: left;
	display: inline-block;
}
div.lButton a{
	font-size: 14px;
}

div.cInput .textbox {
	padding: 5px 0;
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	min-width: 220px;
	border-radius: 4px;
	font-size: 14px;
}

/* review form */


div.reviewInput {
	display: inline;
	text-align: left;
	padding: 10px;
	width: 660px;
}

div.reviewInput select {
	padding: 6px 0;
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	min-width: 220px;
	float: right;
	margin-right: 60px;
	border-radius: 4px;
	font-size: 18px;
}

div.reviewInput textarea {
	margin-top: 10px;
	width: 90%;
	height: 60%;
}

div.reviewInput button {
	float: right;
	margin-right: 60px;
}

div.reviewInput form {
	height: 300px;
	padding: 20px;
}