/* css file for the main page of the website. different styling for
search bar to search.css. also contains page specific styling.*/

div.sContainer {
	text-align: center !important;
	padding-top: 0px !important;
}

#theTitle {
	position: relative !important;
	padding-right: 45px !important;
}

#searchBar {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 40px !important;
}

#searchBar a {
	padding-right: 190px !important;
	padding-bottom: 20px;
}

#backing {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
	background-image: url('../images/placeholder_clouds2.jpg');
}
