/* This file contains the css for the search bar header at the top
of a normal page on the site. Contrary to what is intuitive this
is not the css for search.html, styling for that is in the forms.css.*/

div.sContainer button {
	background-color: white;
	border: none;
    border-radius: 4px;
    color: #008CBA;
    padding: 8px 10px;
    text-align: center;
    font-size: 18px;
	cursor: pointer;
	border: 2px solid #008CBA;
}
div.sContainer {
	display: block;
	min-height: 80px;
	margin-top: 0px;
	padding-top: 10px;
	background: blue;
	background: linear-gradient(to bottom right, #0099cc, #b3ecff)
}

div.sContainer button:hover {
	background-color: #008CBA;
	color: white;
	border: 2px solid #008CBA;
}

#searchBar {
	width: 900px;
	padding-top: 10px;
	display: block;
	padding-left: 200px;
	padding-right: 100px;
	margin-left: auto;
	margin-right: auto;
}
#searchBar a {
	display: block;
	text-align: right;
	padding-right: 375px;
	color: white;
	font-size: 14px;
}

#searchBar p {
	display: inline-block;
	text-align: right;
	padding-right: 5px;
	color: white;
	font-size: 14px;
}

/* Login and register buttons in the search bar */
#loginButtons {
	display: inline-block;
}

#loginButtons button {
	background-color: #008CBA;
	border: none;
	display: inline-block;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 18px;
	cursor: pointer;
	border: 2px solid #008CBA;
}

#loginButtons button:hover {
	background-color: white;
	color: #008CBA;
	border: 2px solid #008CBA;
}

#theTitle {
	position: absolute;
	left: 10px;
	width: 200px;
	display: inline-block;
}

div.sContainer select {
	padding: 8px 0;
	border-radius: 4px;
	margin-left: 8px;
	min-width: 200px;
	font-size: 18px;
}

div.sContainer form {
	display: inline-block;
}


div.sContainer h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

div.sContainer p {
	font-family: Tahoma, Geneva, sans-serif;
	color: white;
	margin-top: 0px;
	margin-left: 10px;
}

.textbox {
	padding: 8px 0;
	border-radius: 4px;
	font-size: 18px;
}